/**
 * Admin Control Panel Stylesheets
 */

.wrap.fluid-video-embeds {
    max-width: 70em;
}
.wrap.fluid-video-embeds .fve_alignment label {
    margin-right: 2em;
}
.settings-group {
    margin-bottom: 2em;
}
#fve_breakpoint_group p.description {
    padding: 1em 0;
}
